@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
nav{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.sticky-nav{
    position: sticky;
    top: 0;
    z-index: 1000;
}
